body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

h4 {
    margin-top: 0;
}

.panel-container {
    margin-left: -10px;
}
.panel-container::after {
    content: "";
    display: table;
    clear: both;
}
.panel-container > div {
    float: left;
    width: 260px;
    border: 1px solid lightgrey;
    margin-left: 10px;
    padding: 10px;
}

.hidden {
    display: none;
}

#enableMicButton {
    float: right;
}

.droppable {
    background-color: hotpink;
}

input.bar-number {
    width: 50px;
}

/* tabs */
ul.tab-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

    ul.tab-links li {
        float: left;
    }

        ul.tab-links li a {
            display: inline-block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            transition: 0.3s;
            font-size: 17px;
        }

            ul.tab-links li a:hover {
                background-color: #ddd;
            }

            ul.tab-links li a:focus, a.active {
                background-color: #ccc;
            }

.tab-pane {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-pane.active {
    display: block;
}

/* toast */
.toast {
    /* basic styles */
    font-size: 50px;
    background-color: #333;
    color: #fff;
    padding: 16px;
    /* centre toast */
    left: 50%;
    width: 250px;
    margin-left: -125px;
    text-align: center;
    position: fixed;
    /* start off the top of the screen */
    top: -50px;
    opacity: 0;
    transition: top .5s linear, opacity .5s linear;
}
.toast.show {
    top: 30px;
    opacity: 1;
}

.info {
    border: 1px solid darkgray;
    margin: 10px 0px;
    padding: 10px;
}

.playlist {
    width: 100%;
}
.playlist .name {
    white-space: nowrap;
}
.playlist input[type=number] {
    width: 100%;
    text-align: center;
}

#loggerOutput {
    height: 400px;
    overflow: auto;
}
.log {
    font-weight: bold;
}
.log.log-success {
    color: green;
}
.log.log-info {
    color: lightblue;
}
.log.log-error {
    color: red;
}

.wake-word-indicator.wake-word-indicator-on {
    color: red;
}