body {
    font-family: sans-serif;
    max-width: 600px;
    margin: auto;
}

.droppable {
    background-color: hotpink;
}

.highlightable {
    transition: font .5s linear, text-shadow .5s linear;
}
.highlightable.highlight {
    text-shadow: 0 0 100px limegreen;
    font-size: 200px;
}